.NavBar {
    height: 2em;
    padding: 0.05em;
    background-color: var(--C2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
    div {
      display: flex;
      align-items: center;
    }
    h1 {
      color: var(--menuFontColor);
      font-weight: bold;
      font-size: 1.15em;
      padding: 0 0.5em 0 0.25em;
      margin: 0;
      cursor: default;
    }
    h2 {
      color: var(--C3);
      font-weight: normal;
      font-size: 1.05em;
      padding: 0 0.5em 0 0.25em;
      margin: 0;
      white-space: nowrap;
    }
    button {
      color: var(--menuFontColor);
      display: inline-flex;
      outline: none;
      border: none;
      border-radius: 50%;
      padding: 0.15em;
      background-color: inherit;
    }
    button.s1:hover {
      box-shadow: 0 4px 7px 0 rgb(0, 0, 0, 0.5);
    }
    button.s2:hover {
      color: var(--C1);
    }
  }