.toolbar {
  background-color: var(--C4);
  color: var(black);
  padding: .15em 0.15em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  //box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.5);
  width: 1.75em;
  .rows {
    display: flex;
    flex-direction: column;
  }
  button {
    background-color: inherit;
    border-radius: 40%;
    border: none;
    outline: none;
    font-size: 1.25em;
    width: 1.45em;
    height: 1.45em;
    padding-top: .2em;
    cursor: pointer;
    margin: 0.15em;
    display: flex;
    justify-content: center;
    align-items: center;
    //i {
      //font-size: 1.25em;
    //}
  }
  button:hover {
    //color: lightcyan;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.5);
  }
}
