.Tools {
  background-color: var(--C5);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  //z-index: 0;
  .split {
    width: 1px;
    z-index: 2;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
    cursor: e-resize;
  }
  .MainArea {
    background-color: var(--C5);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 1;
    justify-content: start;
    width: 50%;
    .Tool {
      background-color: var(--C1);
      display: flex;
      flex-grow: 1;
      justify-content: start;
      z-index: 1;
    }
    .TabBar {
      background-color: var(--C5);
      display: flex;
      flex-direction: row;
      height: 1.75em;
      align-items: center;
      z-index: -1;
      button {
        border: none;
        outline: none;
        background-color: inherit;
        font-size: 1em;
        margin-left: auto;
        margin-right: 0.25em;
        padding: 0;
      }
      button:hover {
        color: white;
      }
      .Selected {
        background-color: var(--C1);
        box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.5);
        z-index: 2;
      }
      .notSelected {
        background-color: var(--C3);
        z-index: 0;
        box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.5);
      }
      .Tab {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 1.75em;
        min-width: 7em;
        //background-color: var(--C3);
        overflow-x: none;
        overflow-y: none;
        a {
          display: flex;
          align-items: center;
          margin: 0em 0.25em;
          font-size: 12px;
          //font-weight: bold;
          i {
            font-size: 1.25em;
            margin-right: 0.5em;
          }
          i:after {
            margin: 0.25em;
          }
        }
        span {
          margin: 0.1em 0.25em 0 0.25em;
          display: flex;
          align-items: center;
          font-size: 1em;
        }
      }
    }
  }
}
