
body {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  overflow: hidden;
}
#root {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  max-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

.Editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .SlateToolBar {
    display: flex;
    padding: 0.25em;
    justify-content: space-between;
    box-shadow: 0 4px 7px 0 rgb(0, 0, 0, 0.05);
    align-items: center;
    flex-grow: 1;
    z-index: 2;
    p {
      font-family: Lato;
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    button {
      background-color: inherit;
      font-size: 1em;
      border: none;
      outline: none;
    }
    button:hover {
      color: rgb(0, 110, 255);
    }
  }
  .area {
    position: relative;
    display: block;
    overflow-y: auto;
    background-color: whitesmoke;
    max-height: 97.5vh;
    //margin: auto;
  }
  .Title {
    text-align: center;
    font-size: 2em;
    h1{
      font-weight: normal;
    }
  }
  .page {
    margin: auto;
    padding: 5em 5em;
    min-height: 100vh;
    max-width: 40em;
    z-index: 1;
    background-color: white;
    font-family: 'Alegreya', serif;
    //font-family: 'Noto Serif', serif;
    box-shadow: 0 4px 7px 0 rgb(0, 0, 0, 0.05);
    p{
      
    }
  }
  .note {
    background-color: rgb(210, 250, 213);
    margin: 0.5em;
    padding: 0.25em;
    box-shadow: 0 4px 7px 0 rgb(0, 0, 0, 0.25);
  }
}